@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https: //fonts.googleapis.com/css2? family= DM+Sans & display=swap" rel="stylesheet");
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  margin: 56px;
}

.imagenlogo {
  width: 240px;
}

h1 {
  color: black;
}

p {
  color: black;
  letter-spacing: normal;
}

/* MENU DE NAVEGACIÓN */
li {
  text-decoration: none;
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
  list-style-type: none;
  color: #9B9B9B;
  letter-spacing: 0.8px;
}

nav {
  margin: 88px;
}

.menu ul {
  display: flex;
  gap: 56px;
  margin-top: 40px;
  font-size: larger;
}

/* 
.menu ul li a:hover,  .menu ul li a:focus {
    background-size: 100% 1px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
} */
.menu ul li a:hover {
  color: var(--primary);
}

#toggle-menu {
  width: 40px;
  position: absolute;
  top: 5rem;
  right: 7rem;
  cursor: pointer;
}

.hamburguesa {
  max-width: 100%;
}

/* CONTAINER */
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 6em auto;
  width: 72%;
  background-color: #e9edf0;
  padding: 1.5em;
  transition: transform 0.4s;
  border-style: solid;
  border-color: #ccd4d9;
  border-width: 0.5px;
}

.container:hover {
  transform: scale(1.1);
}

.card {
  display: flex;
  /* padding: 80px; */
}

.card-col-body {
  order: 1;
  flex: 1;
  display: flex;
  padding-left: 32px;
  align-items: center;
}

.card-title {
  margin-bottom: 16px;
}

.card-col-img {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: center;
}

.imagenBBVA {
  width: 350px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: lighter;
}

/* FOOTER */
#bottom {
  font-size: 1em;
  margin: 320px 400px 40px 400px;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* PAGES */
/* CASO DE ESTUDIO */
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secciones {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  margin-left: 80px;
  max-width: 640px;
  text-align: initial;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 24px;
}

.containerframe {
  background-color: #e9edf0;
  max-width: 640px;
  max-height: 700px;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#historia-study-case {
  display: flex;
  flex-direction: row;
}

aside {
  margin-top: 16px;
}

/* SOBRE MÍ */
#fotoLeslie {
  width: 400px;
}

#presentacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  max-width: 480px;
}

.diseño {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parrafo {
  padding-top: 32px;
  color: var(--primary);
}

#hola {
  margin-bottom: 32px;
}

#articulo {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

#fotointerview {
  width: 560px;
  height: 420px;
  margin: 32px 0px 32px 0px;
}

#infolectura {
  display: flex;
  flex-direction: row;
  margin-bottom: 56px;
  font-size: 0.8em;
}

.texto {
  width: 560px;
  margin-bottom: 24px;
}

/* CONTACTO */
#contacto {
  width: 600px;
  margin-top: 32px;
  margin-bottom: 48px;
  text-align: center;
}

#contactar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BOOTSTRAP DESREBOOT */
ul {
  padding: 0px;
}

a {
  text-decoration: none;
}

/* MEDIAS */
@media screen and (max-width: 864px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 864px) {
  #toggle-menu {
    display: none;
  }
  .hamburguer {
    display: none;
  }
}
/* range: 1200px a 1400px */
@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .card {
    display: flex;
  }
  .card-col-body {
    order: 1;
    flex: 1;
    display: flex;
    padding-left: 56px;
  }
  .card-col-img {
    order: 2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagenBBVA {
    width: 328px;
    height: 264px;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.3em;
  }
}
/* range: 992px a 1999px */
@media screen and (max-width: 1200px) {
  .container {
    margin: auto;
    width: 90%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-col-body {
    order: 1;
    flex: 1;
    display: flex;
    padding-left: 32px;
  }
  .card-col-img {
    order: 2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagenBBVA {
    width: 312px;
    height: 248px;
  }
  h1 {
    font-size: 1.9em;
  }
  p {
    font-size: 1.3em;
  }
  #fotoLeslie {
    width: 300px;
    height: 300px;
  }

#bottom {
  font-size: 1em;
  margin: 320px 200px 40px 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}
}

/* range: 768px a 991px */
@media screen and (max-width: 992px) {
  .container {
    margin: auto;
    width: 80%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-col-body {
    order: 1;
    flex: 1;
    display: flex;
    padding-left: 24px;
  }
  .card-title {
    font-size: 1.8em;
  }
  .card-parrafo {
    font-size: 1.2em;
  }
  .card-col-img {
    order: 2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .imagenBBVA {
    width: 264px;
    height: 216px;
  }
  nav {
    margin: 80px 0px 88px 40px;
  }
  #presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 8px;
    padding: 16px;
  }
  p {
    font-size: 1.3em;
  }

  #bottom {
    font-size: 1em;
    margin: 320px 200px 40px 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 817px) {
  .container {
    margin: 1em auto;
    width: 80%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .imagenBBVA {
    width: 208px;
    height: 176px;
  }
  .card-title {
    font-size: 1.6em;
  }
  .card-parrafo {
    font-size: 1em;
  }
  
  #contacto {
    max-width: 560px;
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 1.3em;
  }

}
/* range: 576px a 767px */
@media screen and (max-width: 768px) {
  .container {
    margin: 1em auto;
    width: 80%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-col-body {
    order: 1;
    flex: 1;
    display: flex;
    padding-left: 16px;
    text-align: initial;
  }
  div.card-col-img {
    order: 2;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .imagenBBVA {
    width: 216px;
    height: 184px;
  }
  .card-title {
    font-size: 1.6em;
  }
  .card-parrafo {
    font-size: 1em;
  }

#fotoLeslie {
  width: 275px;
  height: 280px;
}

#bottom {
  font-size: 0.9em;
  margin: 320px 100px 40px 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

p {
  font-size: 1.1em;
}

#hola {
  margin-bottom: 32px;
  font-size: 1.4em;
}

#fotoLeslie {
  width: 240px;
  height: 240px;
}
#contacto {
  max-width: 520px;
  margin-top: 32px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 1.2em;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secciones {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  margin-left: 56px;
  max-width: 640px;
  text-align: initial;
  margin-top: 40px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 1.8em;
}

.secciones-body{
  font-size: 1em;
}
h2 {
  margin-bottom: 24px;
  font-size: 1.4em;
}

.containerframe {
  background-color: #e9edf0;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.frameBBVA{
  width: 240px;
  height: 520px;
}

#historia-study-case {
  display: flex;
  flex-direction: row;
}

aside {
  margin-top: 64px;
  font-size: 14px;
  width: 200px;
  line-height: 1.6em;
}

}

/* range: 0 a 575px */
@media screen and (max-width: 648px) {
  .container {
    margin: 1em auto;
    width: 50%;
    background-color: #e9edf0;
    padding: 1.5em;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-col-body {
    order: 1;
    flex: 1;
    display: flex;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 24px;
  }
  .card-col-img {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .imagenBBVA {
    width: 280px;
  }
  .description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #hola {
    margin-bottom: 16px;
  }
  .presentacion-body {
    font-size: 1em;
  }
  #presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
  }
  nav {
    margin: 88px 60px 40px 72px;
  }
  .imagenlogo {
    max-width: 200px;
  }
  .logo {
    max-width: 200px;
  }
  .hamburguesa {
    width: 32px;
    margin-right: 96px;
  }

  #contacto {
    max-width: 420px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 1.2em;
  }

}

