#contactar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        #contacto {
            // width: 600px;
            margin-top: 32px;
            margin-bottom: 48px;
            text-align: center;
        }

  }
  
