#bottom {
    font-size: 1em;
    // margin: 320px 400px 40px 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }



.imagenlogo {
    width: 240px;
  }
