// #fotoLeslie {
//     width: 400px;
//   }
  
  #presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // padding: 40px;
    max-width: 480px;
    #hola {
        margin-bottom: 32px;
      }


  }
  
