/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https: //fonts.googleapis.com/css2? family= DM+Sans & display=swap" rel="stylesheet");


:root {
    /* Palette*/
    --primary: #000000; 
    --secondary: ;
    --light: #9B9B9B;
    --accent: #494949; 

    /*Font sizes*/
    --text-xxl: 2.4em;
    --text-xl: 2em; 
    --text-lg: 3.2em;
    --text-md: 2em; 
    --text-sm: 1.4em; 
    --text-xs: 0.4em; 

    /* Spacings*/
 
}


/* NORMALIZE */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 56px 56px 56px 56px;
}

#logo{
    width: 176px;
    margin: 8px 0px 72px 0px;
}

header{
    padding: 0px 104px 0px 104px;
}

#idioma{
    width: 80px;
    display: flex;
    flex-direction: row;
    color:#9B9B9B;
    text-align:center;
}

a {
    text-decoration: none;
    flex-direction: row;
    color:#9B9B9B;
}


ul{
    text-decoration: none;
    list-style-type: none;
    font-size: 1.1em;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    width: 720px;
    justify-content: space-between;
    margin-bottom: 104px;
    gap: 40px;
}

#caso1{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #EAEAEA;
    margin: 80px;
    padding: 56px;
    height: 360px;
}

#caso2{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #EAEAEA;
    padding: 56px;
    margin: 80px;
    height: 360px;
}

h1{
    font-size: 2.4em;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    margin: 0px 0px 0px 0px;
    width: 600px;
}

.casos{
    display:flex;
    flex-direction: row;

}
.fotos{
    width: 320px;
}

#slash{
    font-size: 1em;
}
p{
    font-size: 1.4em;
    width: 360px;
}



.description{
    display: flex;
    flex-direction: row;
    margin: 16px;
    justify-content: space-around;
    
}

#fotoLeslie{
    width: 400px;
}

#presentacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}

#historia{
    display: flex;
    flex-direction:row;
}
.secciones{
    margin-bottom: 56px;
}