/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    /* Palette*/
    --primary: #000000; 
    --secondary: ;
    --light: #9B9B9B;
    --accent: #494949; 

    /*Font sizes*/
    --text-xxl: 2.4em;
    --text-xl: 2em; 
    --text-lg: 3.2em;
    --text-md: 2em; 
    --text-sm: 1.4em; 
    --text-xs: 0.4em; 

    /* Spacings*/
 
}


/* NORMALIZE */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 56px 136px 400px 136px;
}

#logo{
    width:250px;
    margin: 0px 600px 80px 0px;
}

#idioma{
    width: 128px;
    display: flex;
    flex-direction: row;
    color:#9B9B9B;
    text-align:center;
}

a {
    text-decoration: none;
    flex-direction: row;
    color:#9B9B9B;
}


ul{
    text-decoration: none;
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 104px;
}

.container1{
    max-width: 1000px;
    background-color: #E5E5E5;
    margin-bottom: 0px;
    padding: 56px;
}

.container2{
    max-width: 1000px;
    margin: 0px;
    background-color: #E5E5E5;
    padding: 56px;
}
h1{
    font-size: 2.8em;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    margin: 0px 0px 24px 0px;
    
}

.casos{
    margin-top: 20px;
}
.fotos{
    width: 300px;

}

#slash{
    font-size: 1em;
}
p{
    font-size: 1.4em;
    flex-wrap: wrap;
    width: 560px;
}

.up{
    display: flex;
    flex-direction: row;
    
}