/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



/* VARIABLES*/

:root {
    /* Palette*/
    --primary: #000000; 
    --secondary: ;
    --light: #9B9B9B;
    --accent: #494949; 

    /*Font sizes*/
    --text-xxl: 2.8em;
    --text-xl: 2em; 
    --text-lg: 3.2em;
    --text-md: 2em; 
    --text-sm: 1.4em; 
    --text-xs: 0.4em; 

    /* Spacings*/
 
}

 
/* NORMALIZE */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
    margin: 56px;
}

.logo{
    width:250px;
    margin: 0px 0px 10px 0px;
}


.nav{
    display: flex;
    flex-direction: row;
}

#idioma{   
    font-size:small;
    display: flex;
    text-align: end;
}   

.fotos{
    width: 300px;
}

ul{
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

a{
    font-size: var(--text-sm);
    text-decoration: none;
    color: #9B9B9B;
}

h1{
    font-size: 2.8em;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    margin: 0px 0px 0px 0px;
   
}


.caso1{
    margin: 0px 0px 100px 0px;
    background-color: #EAEAEA;
}
.caso2{
    margin: 0px 0px 0px 0px;
    background-color: #EAEAEA;
}
h2{
    font-size: var(--text-xxl);
}

p{
    font-size: var(--text-sm);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header {
    padding: 0px;
    color: var(--accent);
    background: #FFFFFF;
    width: 100%;
}

#slash {
    color: #9B9B9B;
}